/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #222222;
  color: #fff;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default Styling */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  opacity: 0.5;
  width: 5px;
  border-radius: 4px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-moz-selection {
  background: rgb(110, 240, 110);
  text-shadow: none;
}

::selection {
  background: rgb(110, 240, 110);
  text-shadow: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* GENERAL STYLES*/

body {
  overflow-x: hidden;
  text-decoration: none;
}

img {
  object-fit: contain;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #faf9f6;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}




p,
a,
button,
input,
ul,
li,
address,
textarea,
span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #faf9f6;
}

section {
  padding: 100px 90px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

button {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  section {
    padding: 50px 20px;
  }

  p {
    line-height: 22px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  section {
    padding: 50px 40px;
  }

  p {
    line-height: 1.6;
    font-size: 14px;
  }
}